.App {
  font-family: sans-serif;
  text-align: center;
  height: 10px;
  padding: 20px;
  font-weight: bold;
  color: #ddd6d6;
  background-color: #474242;
  line-height: 4;
}

p {
  line-height: 1;
}

.header {
  color: #ddd6d6;
}

.App-sub {
  line-height: 3;
  font-size: 16px;
  font-weight: bold;
  width: 40;
}

.Body {
  line-height: 5;
  height: 150px;
  padding: 20px;
  color: white;
}

.divv {
  width: 300px;
  height: 200px;
  background-color: #e1cece;
  color: black;
}

body {
  height: 500vh;
  width: 100vw;
  background: linear-gradient(
    140deg,
    #ca2341,
    #ca2341 40%,
    #474242 40%,
    #474242
  );
}
background: linear-gradient(160deg, #ca2341, #ca2341 60%, white 60%, white);
footer {
  background-color: #474242;
}

background-color: #ca2341;
