{% extends "main.html" %} {% block content %}
<section id="body_content">
  <div class="body_texts">
    <div class="intro">
      <h2 class= "software_name">About Us</h2>
    </div>
      <div class="container">
        <div class="card-columns d-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <h4>Business Team</h4>
                <div><strong>Dhanush Shetty</strong>, CEO</div>
                <div><strong>Jocelyn Chi</strong>, Director of Marketing</div>
                <div><strong>Sophia Lapus</strong>, Director of Marketing</div>
                <div><strong>Makenna Mitchell</strong>, Director of Business Development</div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h4>Engineers</h4>
                <div><strong>Junha Park</strong>, Founding Engineer, Full Stack</div>
                <div><strong>Manpreet Sokhi</strong>, Founding Engineer, Full Stack</div>
                <div><strong>Neil Nguyen</strong>, Founding Engineer, Backend</div>
                <div><strong>Hanzhuo Gong</strong>, Founding Engineer, Frontend</div>
                <div><strong>Joy Zou</strong>, Software Engineer, Frontend</div>
                <div><strong>Ali Nazemi</strong>, Software Engineer, Backend</div>
                <div><strong>Shalin Avlani</strong>, Software Engineer, Backend</div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
{% endblock %}
