{% extends "main.html" %} {% block content %}

<head>
  <title>SCU Course Planner</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index_styles.css') }}">
</head>

<body>

  <!--------------------------Body section------------------------------>
  <section id="body_content">
    <div class="body_texts">
      <div class="under_construction">
        <img class="sign_under_construction" src="{{ url_for('static', filename='img/under-construction.png') }}" alt="under construction">
        <h4>More awesome features will be coming soon</h4>
      </div>
      <div class="intro">
        <h1 class= "software_name">Course Planner</h1>
        <h4>Create your four year plans for SCU</h4>
        <p>Start by press the "Get Started" button to enter all your preferences</p>
      </div>
      <div>
        <button class="btn btn-secondary btn-lg get_started_button" type="button" name="button" onclick="location.href = '{{ url_for('selectMajor') }}'">
          Get Started
        </button>
      </div>
    </div>
  </section>
</body>

{% endblock %}
