{% extends "main.html" %} {% block content %}

<head>
  <title>SCU Course Planner</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

  <!--------------------------Body section------------------------------>
  <section id="body_content">
    <div class="body_texts">
      <div class="intro">
        <h1 = class= "software_name">Course Planner</h1>
        <h4>Create your four year plans for SCU</h4>
        <p>Start by press the "Get Started" button to enter all your preferences</p>
      </div>
      <div>
        <button class="btn btn-secondary btn-lg get_started_button" type="button" name="button">
          <a href="{{ url_for('selectMajor') }}">Get Started</a>
        </button>
      </div>
    </div>
  </section>
</body>

{% endblock %}
