{% extends "main.html" %} {% block content %}

<head>
  <title>SCU Grad Planner</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/schedule_styles.css') }}">
</head>

<body>
  <section id="body">
    <div class="container">
      {% for yearDict in fourYearPlan %}
        <div class="{{ yearDict['year'] }}">
          <h2 class="year_title">{{ yearDict['year'] }}</h2>
          <div class="card-columns d-flex justify-content-center">
            {% for quarterDict in yearDict['yearSchedule'] %}
              <div class="card Four-Year-Schedule">
                <div class="card-block">
                  <div class="card-header">
                    {{ quarterDict['quarter'] }}
                  </div>
                  <ul class="list-group list-group-flush">
                    {% for classDict in quarterDict['classes'] %}
                      <li class="list-group-item" id="freshman_fall_course_1">{% if classDict['isCore'] == True %}{% block coreSuggestedLabel %}<b>Suggested: </b>{% endblock coreSuggestedLabel %}{% endif %}{{ classDict['name'] }}
                        {% if classDict['units'] > 0 %}
                            <ul>
                              <li>Units: {{ classDict['units'] }}</li>
                              {% if classDict['prereqs'] is not none %}
                                <li>Pre-requisites:
                                  <ul>
                                    {% for prereq in classDict['prereqs'] %}
                                      <li>{{ prereq }}</li>
                                    {% endfor %}
                                  </ul>
                                </li>
                              {% endif %}
                              {% if classDict['satisfies'] is not none %}
                                <li>Satisfies:
                                  <ul>
                                    {% for prereqFor in classDict['satisfies'] %}
                                      <li>{{ prereqFor }}</li>
                                    {% endfor %}
                                  </ul>
                                </li>
                              {% endif %}
                            </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      <div>
        <button class="btn btn-secondary btn-lg save_button" type="button" name="button">Save</button>
      </div>
    </div>
  </section>
</body>
{% endblock %}
