{% extends "main.html" %} {% block content %}

<head>
  <title>SCU Grad Planner</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/survey_styles.css') }}">
  <script src="{{ url_for('static', filename='js/survey.js') }}"></script>
</head>

<body>
  <!---------------------------body section-------------------------->
  <section id="body_content">
    <form action="/selectrequisites">
      <div class="body_texts">
        <div class="contexts">
          <div class="top_title">
            <h2>Questionnaire</h2>
          </div>
          <div class="card survey_name">
            <div class="card-header">
              {{ questionMajors.question }}
            </div>
            <ul class="list-group list-group-flush">
              {% for option in questionMajors.options %}
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="major" id="{{ option.id }}" value="{{ option.id }}">
                    <label class="form-check-label" for="{{ option.id }}">
                      {{ option.name }}
                    </label>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-secondary btn-lg get_started_button" type="submit">Submit</button>

        <!--<input type="submit" value="Submit" />-->
      </div>
    </form>

  </section>
</body>
{% endblock %}
