{% extends "main.html" %} {% block content %}
<section id="body_content">
  <form action="/selectmajor">
    <div class="body_texts">
      <div class="contexts">
        <div class="top_title">
          <h2>Questionnaire</h2>
        </div>
        <div class="card survey_name">
          <div class="card-header">
            {{ questionSchools.question }}
          </div>
          <ul class="list-group list-group-flush">
            {% for option in questionSchools.options %}
              <li class="list-group-item">
                <div class="form-check">
                  {% if option.id == 'ASCI' %}
                  <input class="form-check-input" type="radio" name="school" id="{{ option.id }}" value="{{ option.id }}">
                  <label class="form-check-label" for="{{ option.id }}">
                    {{ option.name }}
                  </label>
                  {% else %}
                  <input class="form-check-input" type="radio" name="school" id="{{ option.id }}" value="{{ option.id }}" disabled>
                  <label class="form-check-label" for="{{ option.id }}">
                    {{ option.name }} (Coming Soon!)
                  </label>
                  {% endif %}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div>
      <button class="btn btn-secondary btn-lg get_started_button" type="submit">Submit</button>

      <!--<input type="submit" value="Submit" />-->
    </div>
  </form>

</section>
{% endblock %}
